In [2]:
import pandas as pd

In [3]:
frame = pd.read_csv('sites.csv', header=None, sep=',')

In [9]:
frame.drop([4], axis=1, inplace=True)

In [16]:
frame

                   1
0       facebook.com
1          yahoo.com
2           live.com
3      wikipedia.org
4            msn.com
..               ...
995        fx120.net
996        ntv.co.jp
997       meinvz.net
998         king.com
999  virginmedia.com

[1000 rows x 1 columns]

In [21]:
!nslookup {site} 172.16.1.42

Server:		172.16.1.42
Address:	172.16.1.42#53

** server can't find {site}: SERVFAIL

In [22]:
frame[1]

0         facebook.com
1            yahoo.com
2             live.com
3        wikipedia.org
4              msn.com
            ...
995          fx120.net
996          ntv.co.jp
997         meinvz.net
998           king.com
999    virginmedia.com
Name: 1, Length: 1000, dtype: object

In [25]:
frame.iloc[[1], [0]]

           1
1  yahoo.com

In [26]:
print(frame.iloc[[1], [0]])

           1
1  yahoo.com

In [27]:
frame.iloc[0].head(1)

1    facebook.com
Name: 0, dtype: object

In [29]:
print(frame.loc[0].head(1))

1    facebook.com
Name: 0, dtype: object

In [30]:
frame[:3]

              1
0  facebook.com
1     yahoo.com
2      live.com

In [33]:
frame[1]

0         facebook.com
1            yahoo.com
2             live.com
3        wikipedia.org
4              msn.com
            ...
995          fx120.net
996          ntv.co.jp
997         meinvz.net
998           king.com
999    virginmedia.com
Name: 1, Length: 1000, dtype: object

In [40]:
frame[1].iloc[1]

'yahoo.com'

In [43]:
print(frame[1].iloc[2])

live.com

In [64]:
a = 400
for element in range(20):
    a += 1
    !nslookup {frame[1].iloc[a]} 172.16.1.42

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	squidoo.com
Address: 34.192.61.242
Name:	squidoo.com
Address: 34.199.203.181

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	teacup.com
Address: 52.194.40.18
Name:	teacup.com
Address: 13.113.207.176

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
*** Can't find windowslive.com: No answer

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	addictinggames.com
Address: 104.22.2.109
Name:	addictinggames.com
Address: 104.22.3.109
Name:	addictinggames.com
Address: 172.67.4.39
Name:	addictinggames.com
Address: 2606:4700:10::6816:36d
Name:	addictinggames.com
Address: 2606:4700:10::6816:26d
Name:	addictinggames.com
Address: 2606:4700:10::ac43:427

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	filehippo.com
Address: 35.186.241.3

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	sdo.com
Address: 114.80.132.70

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
*** Can't find shld.net: No answer

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	ustream.tv
Address: 169.45.159.66
Name:	ustream.tv
Address: 169.44.146.80
Name:	ustream.tv
Address: 169.45.159.67
Name:	ustream.tv
Address: 169.44.146.79

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	tistory.com
Address: 121.53.105.234

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	115.com
Address: 119.23.87.59

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	liutilities.com
Address: 104.21.57.136
Name:	liutilities.com
Address: 172.67.164.19
Name:	liutilities.com
Address: 2606:4700:3035::ac43:a413
Name:	liutilities.com
Address: 2606:4700:3033::6815:3988

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	jalan.net
Address: 160.17.5.13

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	webs.com
Address: 104.17.119.40
Name:	webs.com
Address: 104.16.140.31
Name:	webs.com
Address: 2606:4700::6810:8c1f
Name:	webs.com
Address: 2606:4700::6811:7728

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	naqigs.com
Address: 154.92.177.220

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
*** Can't find ccb.com.cn: No answer

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	it168.com
Address: 42.62.98.171

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	etology.com
Address: 209.239.166.12

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	everesttech.net
Address: 208.91.169.4

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	intelius.com
Address: 104.18.17.16
Name:	intelius.com
Address: 104.18.16.16
Name:	intelius.com
Address: 2606:4700::6812:1110
Name:	intelius.com
Address: 2606:4700::6812:1010

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	sina.com
Address: 66.102.251.24