In [2]:
import pandas as pd

In [3]:
frame = pd.read_csv('sites.csv', header=None, sep=',')

In [9]:
frame.drop([4], axis=1, inplace=True)

In [16]:
frame

                   1
0       facebook.com
1          yahoo.com
2           live.com
3      wikipedia.org
4            msn.com
..               ...
995        fx120.net
996        ntv.co.jp
997       meinvz.net
998         king.com
999  virginmedia.com

[1000 rows x 1 columns]

In [21]:
!nslookup {site} 172.16.1.42

Server:		172.16.1.42
Address:	172.16.1.42#53

** server can't find {site}: SERVFAIL

In [22]:
frame[1]

0         facebook.com
1            yahoo.com
2             live.com
3        wikipedia.org
4              msn.com
            ...
995          fx120.net
996          ntv.co.jp
997         meinvz.net
998           king.com
999    virginmedia.com
Name: 1, Length: 1000, dtype: object

In [25]:
frame.iloc[[1], [0]]

           1
1  yahoo.com

In [26]:
print(frame.iloc[[1], [0]])

           1
1  yahoo.com

In [27]:
frame.iloc[0].head(1)

1    facebook.com
Name: 0, dtype: object

In [29]:
print(frame.loc[0].head(1))

1    facebook.com
Name: 0, dtype: object

In [30]:
frame[:3]

              1
0  facebook.com
1     yahoo.com
2      live.com

In [33]:
frame[1]

0         facebook.com
1            yahoo.com
2             live.com
3        wikipedia.org
4              msn.com
            ...
995          fx120.net
996          ntv.co.jp
997         meinvz.net
998           king.com
999    virginmedia.com
Name: 1, Length: 1000, dtype: object

In [40]:
frame[1].iloc[1]

'yahoo.com'

In [43]:
print(frame[1].iloc[2])

live.com

In [47]:
a = 0
for element in range(1):
    a += 1
    !nslookup {frame[1].iloc[a]} 172.16.1.42

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	yahoo.com
Address: 74.6.231.20
Name:	yahoo.com
Address: 74.6.231.21
Name:	yahoo.com
Address: 74.6.143.25
Name:	yahoo.com
Address: 74.6.143.26
Name:	yahoo.com
Address: 98.137.11.163
Name:	yahoo.com
Address: 98.137.11.164
Name:	yahoo.com
Address: 2001:4998:124:1507::f000
Name:	yahoo.com
Address: 2001:4998:44:3507::8000
Name:	yahoo.com
Address: 2001:4998:44:3507::8001
Name:	yahoo.com
Address: 2001:4998:124:1507::f001
Name:	yahoo.com
Address: 2001:4998:24:120d::1:0
Name:	yahoo.com
Address: 2001:4998:24:120d::1:1