In [5]:
import pandas as pd

In [23]:
frame = pd.read_csv('sites.csv', header=None, sep=',')

In [24]:
frame

        0                1                           2      3          4
0       1     facebook.com             Социальные сети  540.0  570 000.0
1       2        yahoo.com            Интернет-порталы  490.0   70 000.0
2       3         live.com           Поисковые сервера  370.0   39 000.0
3       4    wikipedia.org  Справочники и энциклопедии  310.0    7 900.0
4       5          msn.com            Интернет-порталы  280.0   11 000.0
..    ...              ...                         ...    ...        ...
995   996        fx120.net                    Здоровье    4.1         23
996   997        ntv.co.jp          Телевизионные сети    4.1         41
997   998       meinvz.net             Социальные сети    4.1    1 700.0
998   999         king.com                 Онлайн игры    4.1        790
999  1000  virginmedia.com      Развлекательный ресурс    4.1        190

[1000 rows x 5 columns]

In [32]:
frame['IsStudent'] = [False] * 1000

In [33]:
frame

        0                1      3          4  IsStudent
0       1     facebook.com  540.0  570 000.0      False
1       2        yahoo.com  490.0   70 000.0      False
2       3         live.com  370.0   39 000.0      False
3       4    wikipedia.org  310.0    7 900.0      False
4       5          msn.com  280.0   11 000.0      False
..    ...              ...    ...        ...        ...
995   996        fx120.net    4.1         23      False
996   997        ntv.co.jp    4.1         41      False
997   998       meinvz.net    4.1    1 700.0      False
998   999         king.com    4.1        790      False
999  1000  virginmedia.com    4.1        190      False

[1000 rows x 5 columns]

In [35]:
frame.columns

Index([0, 1, 3, 4, 'IsStudent'], dtype='object')

In [41]:
frame.drop('IsStudent', axis=1, inplace=True)

In [42]:
frame

                   1
0       facebook.com
1          yahoo.com
2           live.com
3      wikipedia.org
4            msn.com
..               ...
995        fx120.net
996        ntv.co.jp
997       meinvz.net
998         king.com
999  virginmedia.com

[1000 rows x 1 columns]

In [4]:
!nslookup {site} 172.16.1.42

Server:		172.16.1.42
Address:	172.16.1.42#53

Non-authoritative answer:
Name:	yandex.ru
Address: 5.255.255.50
Name:	yandex.ru
Address: 5.255.255.5
Name:	yandex.ru
Address: 77.88.55.55
Name:	yandex.ru
Address: 77.88.55.50
Name:	yandex.ru
Address: 2a02:6b8:a::a